<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>badServiceTipPercentage</key>
	<real>0.1</real>
	<key>averageServiceTipPercentage</key>
	<real>0.15</real>
	<key>goodServiceTipPercentage</key>
	<real>0.18</real>
	<key>outstandingServiceTipPercentage</key>
	<real>0.2</real>
</dict>
</plist>
